body {max-width: 900px; margin-top: 3em; margin-bottom: 2em; margin-left: auto; margin-right: auto; text-align: left; line-height: 1.6; font-family: sans-serif; font-size: 12pt;}
#logo {margin: auto; width: 70px; display: block;}
figure {width: 80%; display: block; margin: auto; padding: 2.0rem;}
h1 {text-align: center;}
h2 {margin-top: 3em;}
table {border-collapse: collapse; width: 100%; margin: 1.5rem 0;}
td, th {border: 1px solid black; text-align: left; padding: 0.5rem;}
th {background: goldenrod; font-weight: bold;}
pre { max-width: 100%; overflow: auto; background:#f0f0f0; padding: 10px;}
img { margin: auto; max-width: 70%; }
footer { text-align: right; font-weight: 200; padding-top: 5em; }
footer span { padding: 0 0.5em 0 0.5em; }
